:root {
  --pui-space-xxs: 0.25rem;
  --pui-space-xs: 0.5rem;
  --pui-space-sm: 0.75rem;
  --pui-space-md: 1rem;
  --pui-space-lg: 1.5rem;
  --pui-space-xl: 2rem;
  --pui-space-2xl: 3rem;
  --pui-space-3xl: 4rem;
}
