@mixin pui-disabled-host($opacity: var(--pui-disabled-opacity, 0.6)) {
  cursor: not-allowed;
  opacity: $opacity;
}

@mixin pui-disabled-control {
  cursor: not-allowed;
  opacity: var(--pui-disabled-opacity, 0.7);
}
